* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../img/pattern.png");
    background-color: #4282cb;
    height: 150px;
    background-image: contain;
    padding: 70px 0 0 10px;
}

main {
    padding-left: 10px;
}

#header__title {
    height: 70px;
}

#main__header {
    margin-bottom: 25px;
}

#main__header a {
    text-decoration: none;
}

#main__header p {
    color: gray;
}

#photo-box {
    margin-bottom: 25px;
}

#photo-box__description {
    font-size: 10px;
}

.highlight {
    background-color: yellow;
}