* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../img/pattern.png");
    background-color: #4282cb;
    height: 150px;
    background-size: auto 200%;
    padding: 70px 0 0 10px;
    
}

main {
    padding-left: 10px;
}

#header__title {
    height: 70px;
}

#main__header {
    margin-bottom: 25px;
}

#main__header a {
    text-decoration: none;
}

#main__header p {
    color: gray;
}

#photo-box {
    margin-bottom: 25px;
}

.photo-box__description {
    font-size: 10px;
}

.highlight {
    background-color: yellow;
}

main ul {
    margin: 25px 0 25px 10px;
}

main table {
    border-collapse: collapse;
    margin-bottom: 25px;
}

main thead {
    background-color: #20a9e5;
    color: white;
    text-align: left;
}

main th {
    margin-left: 10px;
    padding-right: 200px;
}

main td {
    margin-left: 10px;
    padding: 10px 0;
}

.table--highligth {
    background-color: #b1e5f2;
}

footer {
    margin-top: 25px;
}

footer p {
    color: grey;
}

#footer__img1 {
    background-image: url("/img/monitor.jpg");
}

#footer__img2 {
    background-image: url("/img/graph.jpg");
}